.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding-bottom: 6px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Height of the bottom border */
  background-color: #fca821; /* Matches the text color */
  transform: scaleY(0); /* Start with no height */
  transform-origin: top; /* Animation starts from the top */
  transition: transform 0.3s ease; /* Smooth animation */
}

.nav-link:hover::after {
  transform: scaleY(1); /* Expand to full height */
}
* {
  font-family: "Poppins", serif;
}
.Marquee {
  width: 85vw;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Marquee-content {
  display: flex;
  animation: marquee 10s linear infinite running;
}

.Marquee-content:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.card {
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.service-item {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.service-item.fade-in {
  opacity: 1;
}

.service-item.scale-up {
  transform: scale(1);
}
#hero_para span {
  color: gray;
  transition: color 0.3s ease;
}
/* Add these to your CSS file */
.navbar-mobile {
  transform: translateX(200%); /* Initially hidden off-screen */
  transition: transform 0.5s ease-in-out;
}

.navbar-mobile.open {
  transform: translateY(0%);
}
